process.executor = 'slurm'

params {
    reads = '/home/dist/maxime.borry/metagenomes/metagenome_non_deaminated.{1,2}.fastq'
}

process {
    withLabel: big_mem {
        memory = 150.GB
        queue = 'SMP'
    }
}

process {
    withLabel: very_big_mem {
        memory = 300.GB
        queue = 'SMP'
    }
}

process {
    withLabel: normal {
        queue = 'COMPUTE'
    }
}
